body {
  margin: 0;
  width: 100vw;
  text-align: center;
}

.welcome {
  background-color: #022a35;
  color: #ffe6aa;
  font-family: "Waiting for the Sunrise", cursive;
  height: 100vh;
  width: 100vw;
  position: relative;
}

.welcome > h1 {
  padding-top: 20vh;
  font-size: 5.625em;
  margin: auto;
}
.welcome > p {
  font-size: 2.5rem;
  margin-top: 0px;
}

.top-cloud {
  position: absolute;
  top: 10%;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  top: 50%;
  left: 15%;
}

.mountain {
  max-width: 50vw;
  position: absolute;
  bottom: 0%;
  left: 25%;
}

.middle-container {
  align-items: center;
  background-color: #6b949f50;
  color: #553c00;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;
}

.profile {
  width: 75%;
  margin: 100px auto 0px auto;
}

.skills > h2 {
  font-weight: bold;
}
.skill-row {
  width: 50%;
  margin: 50px auto;
  font-size: 1rem;
}

h2 {
  color: #553c00;
  font-weight: normal;
  margin: 0;
}

.skill-row > h3 {
  text-align: left;
}

.skill-row > p {
  text-align: left;
  line-height: 2;
}

.contact-me {
  width: 75%;
  margin: auto;
  font-size: 1rem;
  text-align: left;
  line-height: 2;
}

.contact-me > h2 {
  color: #553c00;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  margin: 0;
}

h3 {
  color: #553c00;
}

.btn {
  text-align: center;
  margin-bottom: 2em;
}

.btn > a {
  color: #553c00;
  font-weight: bold;
}

.bottom-container {
  align-items: center;
  background-color: #022a35;
  color: #ffe6aa;
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

a {
  color: #ffb6aa;
}

.credits {
  display: flex;
  flex-direction: column;
  font-size: 0.75em;
  margin: 0;
}

.credits > p {
  font-size: 1em;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  margin: 0;
}
